In [1]:
import pandas as pd

In [2]:
import mysql.connector as connection

In [ ]:
conn=connection.connect(
    host="localhost",
    user="root",
    password="********",
    database="Data_manipulation"
)
print("Connection Successfull")

Connection Successfull

In [6]:
df=pd.read_sql("SELECT * FROM json",conn)

C:\Users\Admin\AppData\Local\Temp\ipykernel_13688\741149083.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql("SELECT * FROM json",conn)

In [7]:
df

   id     name                  email postalZip           phone
0   1    Alice     alice123@yahoo.com    560001  (816) 530-4269
1   2      Bob  bob_smith@outlook.com    560002  1-811-920-9732
2   3  Charlie    charlie@company.org    56A003  (123) 456-7890
3   4    David   david.456@random.com    560004      9876543210
4   5      Eve        eve99@domain.co    560005  (321) 654-0987
5   1    Alice     alice123@yahoo.com    560001  (816) 530-4269
6   2      Bob  bob_smith@outlook.com    560002  1-811-920-9732
7   3  Charlie    charlie@company.org    56A003  (123) 456-7890
8   4    David   david.456@random.com    560004      9876543210
9   5      Eve        eve99@domain.co    560005  (321) 654-0987

In [10]:
df.to_json("Info",index=None,indent=True)