In [105]:
print("Hello")

Hello

In [106]:
import pandas as pd

In [107]:
df=pd.read_csv("survey_results_public.csv")

In [108]:
df.head(5)

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [109]:
df.columns.to_list()

['Respondent',
 'MainBranch',
 'Hobbyist',
 'OpenSourcer',
 'OpenSource',
 'Employment',
 'Country',
 'Student',
 'EdLevel',
 'UndergradMajor',
 'EduOther',
 'OrgSize',
 'DevType',
 'YearsCode',
 'Age1stCode',
 'YearsCodePro',
 'CareerSat',
 'JobSat',
 'MgrIdiot',
 'MgrMoney',
 'MgrWant',
 'JobSeek',
 'LastHireDate',
 'LastInt',
 'FizzBuzz',
 'JobFactors',
 'ResumeUpdate',
 'CurrencySymbol',
 'CurrencyDesc',
 'CompTotal',
 'CompFreq',
 'ConvertedComp',
 'WorkWeekHrs',
 'WorkPlan',
 'WorkChallenge',
 'WorkRemote',
 'WorkLoc',
 'ImpSyn',
 'CodeRev',
 'CodeRevHrs',
 'UnitTests',
 'PurchaseHow',
 'PurchaseWhat',
 'LanguageWorkedWith',
 'LanguageDesireNextYear',
 'DatabaseWorkedWith',
 'DatabaseDesireNextYear',
 'PlatformWorkedWith',
 'PlatformDesireNextYear',
 'WebFrameWorkedWith',
 'WebFrameDesireNextYear',
 'MiscTechWorkedWith',
 'MiscTechDesireNextYear',
 'DevEnviron',
 'OpSys',
 'Containers',
 'BlockchainOrg',
 'BlockchainIs',
 'BetterLife',
 'ITperson',
 'OffOn',
 'SocialMedia',
 'Extraversion',
 'ScreenName',
 'SOVisit1st',
 'SOVisitFreq',
 'SOVisitTo',
 'SOFindAnswer',
 'SOTimeSaved',
 'SOHowMuchTime',
 'SOAccount',
 'SOPartFreq',
 'SOJobs',
 'EntTeams',
 'SOComm',
 'WelcomeChange',
 'SONewContent',
 'Age',
 'Gender',
 'Trans',
 'Sexuality',
 'Ethnicity',
 'Dependents',
 'SurveyLength',
 'SurveyEase']

In [110]:
df.describe()

,Respondent,CompTotal,ConvertedComp,WorkWeekHrs,CodeRevHrs,Age
count,88883.000000,5.594500e+04,5.582300e+04,64503.000000,49790.000000,79210.000000
mean,44442.000000,5.519014e+11,1.271107e+05,42.127197,5.084308,30.336699
std,25658.456325,7.331926e+13,2.841523e+05,37.287610,5.513931,9.178390
min,1.000000,0.000000e+00,0.000000e+00,1.000000,0.000000,1.000000
25%,22221.500000,2.000000e+04,2.577750e+04,40.000000,2.000000,24.000000
50%,44442.000000,6.200000e+04,5.728700e+04,40.000000,4.000000,29.000000
75%,66662.500000,1.200000e+05,1.000000e+05,44.750000,6.000000,35.000000
max,88883.000000,1.000000e+16,2.000000e+06,4850.000000,99.000000,99.000000

In [111]:
schema=pd.read_csv("survey_results_schema.csv")

In [112]:
schema.columns

Index(['Column', 'QuestionText'], dtype='object')

In [113]:
df.dropna(inplace=True
        )

In [114]:
df.drop_duplicates(inplace=True)

In [115]:
df.isnull().sum()

Respondent      0
MainBranch      0
Hobbyist        0
OpenSourcer     0
OpenSource      0
               ..
Sexuality       0
Ethnicity       0
Dependents      0
SurveyLength    0
SurveyEase      0
Length: 85, dtype: int64

In [116]:
df["Gender"]=df["Gender"].str.lower()

In [117]:
df["Gender"]

19       man
38       man
43       man
82       man
103      man
        ...
88161    man
88178    man
88236    man
88301    man
88325    man
Name: Gender, Length: 3475, dtype: object

In [118]:
df["Age1stCode"].head(5)

19     17
38      6
43     12
82     16
103    21
Name: Age1stCode, dtype: object

In [119]:
type(df["Age1stCode"].iloc[0])

str

In [120]:
d=df[df["Age1stCode"]=="Younger than 5 years"]
dp=d.index.to_list()

In [121]:
df.drop(index=dp,inplace=True)

In [122]:
#1. Find the average age of developers when they wrote their first line of code.
df["Age1stCode"]=pd.to_numeric(df["Age1stCode"])
average_age=df["Age1stCode"].mean()
print(f"Average of developers when they wrote their 1st line of code  {average_age}")

Average of developers when they wrote their 1st line of code  14.891392258809937

In [123]:
# . 2.Deduce the percentage of developers who knew python in each country.

df2=df[["Country","LanguageWorkedWith"]].dropna()
df2["KnowsPy"]=df2["LanguageWorkedWith"].str.contains("Python")

grouped=df2.groupby("Country")["KnowsPy"].agg(
    total_devlopers="count",
    python_dev="sum"
)

grouped["percentage_python"]=(grouped["python_dev"]/grouped["total_devlopers"])*100

grouped=grouped.sort_values(by="percentage_python",ascending=False)
grouped=grouped.reset_index()
print(grouped[["Country","percentage_python"]])

                                       Country  percentage_python
0                                     Cambodia              100.0
1                                        Ghana              100.0
2                           Hong Kong (S.A.R.)              100.0
3                                         Cuba              100.0
4                                         Iraq              100.0
..                                         ...                ...
104                                    Senegal                0.0
105                                South Korea                0.0
106                                    Tunisia                0.0
107  The former Yugoslav Republic of Macedonia                0.0
108                        Trinidad and Tobago                0.0

[109 rows x 2 columns]

In [124]:
df3=grouped[["Country","percentage_python"]]
print(df2.head(20))

            Country                                 LanguageWorkedWith  \
19        Lithuania  Bash/Shell/PowerShell;C#;HTML/CSS;Java;JavaScr...
38    United States                       C#;JavaScript;SQL;TypeScript
43          Germany  Bash/Shell/PowerShell;C#;HTML/CSS;Java;JavaScr...
82            India                                HTML/CSS;JavaScript
103           India                             C#;HTML/CSS;TypeScript
127  United Kingdom                      Bash/Shell/PowerShell;Go;Ruby
230   United States  Bash/Shell/PowerShell;C#;Dart;HTML/CSS;JavaScript
239          Canada   Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;SQL
284         Ireland  Dart;HTML/CSS;JavaScript;Python;TypeScript;Oth...
309        Pakistan   Assembly;C;C++;C#;HTML/CSS;Java;Python;Scala;SQL
432   United States   Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;SQL
445          Serbia                  Bash/Shell/PowerShell;Java;Python
458         Germany  Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...
460   United States  Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;P...
537   United States        Bash/Shell/PowerShell;JavaScript;Python;SQL
540          Canada  Bash/Shell/PowerShell;C#;HTML/CSS;Java;JavaScr...
611         Germany  Bash/Shell/PowerShell;C;C++;C#;HTML/CSS;Java;P...
612            Iran   C#;HTML/CSS;JavaScript;Python;SQL;TypeScript;VBA
668   United States  Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...
683    South Africa                                             C#;SQL

     KnowsPy
19      True
38     False
43     False
82     False
103    False
127    False
230    False
239    False
284     True
309     True
432    False
445     True
458     True
460     True
537     True
540     True
611     True
612     True
668     True
683    False

In [125]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [126]:
#  4. Based on this survey, what will be the most desired programming language for the year
#  2020?
all_languages=[]

for entry in df["LanguageDesireNextYear"].dropna():
    languages=entry.split(";")
    for lang in languages:
        all_languages.append(lang.strip())

In [127]:
from collections import Counter

lang_counts=Counter(all_languages).most_common(1)[0]

print(lang_counts)
print("Most desired language for 2020 is:", lang_counts[0])
print("Number of developers who want it:", lang_counts[1])

('JavaScript', 2435)
Most desired language for 2020 is: JavaScript
Number of developers who want it: 2435

In [128]:
df["Country"].unique()

array(['Lithuania', 'United States', 'Germany', 'India', 'United Kingdom',
       'Canada', 'Ireland', 'Pakistan', 'Serbia', 'Iran', 'South Africa',
       'Netherlands', 'Malaysia', 'Dominican Republic', 'Australia',
       'Italy', 'Brazil', 'Austria', 'France', 'Colombia', 'Guatemala',
       'Singapore', 'Russian Federation', 'Republic of Moldova',
       'Romania', 'Portugal', 'Israel', 'Chile', 'Nigeria', 'Sweden',
       'Hungary', 'Turkey', 'Bulgaria', 'Slovenia', 'Spain',
       'Venezuela, Bolivarian Republic of...', 'Honduras', 'Finland',
       'Thailand', 'United Arab Emirates', 'Ukraine', 'Switzerland',
       'Mexico', 'Poland', 'Argentina', 'Croatia', 'China', 'South Korea',
       'Norway', 'Taiwan', 'Denmark', 'Egypt',
       'Other Country (Not Listed Above)', 'Czech Republic', 'Bangladesh',
       'Philippines', 'Greece', 'Costa Rica', 'Kenya', 'Belgium',
       'Albania', 'Ecuador', 'Morocco', 'Estonia', 'Bolivia', 'Peru',
       'New Zealand', 'Sri Lanka', 'Georgia', 'Slovakia', 'Uruguay',
       'Viet Nam', 'Iraq', 'Cuba', 'Belarus', 'Nepal', 'Lebanon',
       'Indonesia', 'Japan', 'Armenia', 'Uganda', 'Senegal', 'Cyprus',
       'Panama', 'Iceland', 'Bosnia and Herzegovina',
       'Trinidad and Tobago', 'Ethiopia', 'Malta',
       'The former Yugoslav Republic of Macedonia', 'Paraguay',
       'Cambodia', 'Jamaica', 'Republic of Korea', 'Jordan',
       'El Salvador', "Côte d'Ivoire", 'Ghana', 'Saudi Arabia',
       'Swaziland', 'Nicaragua', 'Algeria', 'Latvia',
       'Hong Kong (S.A.R.)', 'Kazakhstan', 'Tunisia', 'Maldives',
       'Mauritius', 'Luxembourg'], dtype=object)

In [129]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase'],
      dtype='object')

In [130]:
country_to_continent = {
    "United States": "North America",
    "India": "Asia",
    "Germany": "Europe",
    "Brazil": "South America",
    "Canada": "North America",
    "United Kingdom": "Europe",
    "France": "Europe",
    "Australia": "Oceania",
    "China": "Asia",
    "Russia": "Europe",
    "Japan": "Asia",
    "South Africa": "Africa",
    "Mexico": "North America",
    "Netherlands": "Europe",
    "Spain": "Europe",
    "Italy": "Europe",
    "Sweden": "Europe",
    "Poland": "Europe",
    "Argentina": "South America",
    "Indonesia": "Asia",
    "Unknown": "Unknown"
}

# Apply the mapping
df["Continent"] = df["Country"].map(country_to_continent).fillna("Other")

In [131]:
df["ConvertedComp"]=pd.to_numeric(df["ConvertedComp"])

In [132]:
#3
salary_report=df.groupby("Continent")["ConvertedComp"].mean().reset_index()
print(salary_report)

       Continent  ConvertedComp
0         Africa   81698.280000
1           Asia   43443.053381
2         Europe  116015.068720
3  North America  218702.883665
4        Oceania  216138.787234
5          Other   70361.534911
6  South America   27839.135593

In [133]:
df.columns

Index(['Respondent', 'MainBranch', 'Hobbyist', 'OpenSourcer', 'OpenSource',
       'Employment', 'Country', 'Student', 'EdLevel', 'UndergradMajor',
       'EduOther', 'OrgSize', 'DevType', 'YearsCode', 'Age1stCode',
       'YearsCodePro', 'CareerSat', 'JobSat', 'MgrIdiot', 'MgrMoney',
       'MgrWant', 'JobSeek', 'LastHireDate', 'LastInt', 'FizzBuzz',
       'JobFactors', 'ResumeUpdate', 'CurrencySymbol', 'CurrencyDesc',
       'CompTotal', 'CompFreq', 'ConvertedComp', 'WorkWeekHrs', 'WorkPlan',
       'WorkChallenge', 'WorkRemote', 'WorkLoc', 'ImpSyn', 'CodeRev',
       'CodeRevHrs', 'UnitTests', 'PurchaseHow', 'PurchaseWhat',
       'LanguageWorkedWith', 'LanguageDesireNextYear', 'DatabaseWorkedWith',
       'DatabaseDesireNextYear', 'PlatformWorkedWith',
       'PlatformDesireNextYear', 'WebFrameWorkedWith',
       'WebFrameDesireNextYear', 'MiscTechWorkedWith',
       'MiscTechDesireNextYear', 'DevEnviron', 'OpSys', 'Containers',
       'BlockchainOrg', 'BlockchainIs', 'BetterLife', 'ITperson', 'OffOn',
       'SocialMedia', 'Extraversion', 'ScreenName', 'SOVisit1st',
       'SOVisitFreq', 'SOVisitTo', 'SOFindAnswer', 'SOTimeSaved',
       'SOHowMuchTime', 'SOAccount', 'SOPartFreq', 'SOJobs', 'EntTeams',
       'SOComm', 'WelcomeChange', 'SONewContent', 'Age', 'Gender', 'Trans',
       'Sexuality', 'Ethnicity', 'Dependents', 'SurveyLength', 'SurveyEase',
       'Continent'],
      dtype='object')

In [134]:
def Simplify_gender(gender):
    if pd.isna(gender):
        return "OTHERS"
    gender=gender.strip().lower()
    if gender=="man":
        return "MAN"
    elif gender == "woman":
        return "WOMAN"
    else:
        return "OTHERS"

In [137]:
df["CleanedGender"]=df["Gender"].apply(Simplify_gender)

In [139]:
hobby=df[df["Hobbyist"]=="Yes"]
code_as_hobby=hobby.groupby(["Continent","CleanedGender"]).size().reset_index(name="Hobbyist_Count")
print(code_as_hobby)

        Continent CleanedGender  Hobbyist_Count
0          Africa           MAN              20
1          Africa         WOMAN               1
2            Asia           MAN             241
3            Asia        OTHERS               2
4            Asia         WOMAN               3
5          Europe           MAN             716
6          Europe        OTHERS               1
7          Europe         WOMAN              18
8   North America           MAN            1036
9   North America        OTHERS              11
10  North America         WOMAN              37
11        Oceania           MAN              75
12        Oceania        OTHERS               1
13        Oceania         WOMAN               1
14          Other           MAN             690
15          Other         WOMAN              20
16  South America           MAN              93
17  South America         WOMAN               2

In [143]:
# #6 6. Generate the report for job and career satisfaction of developers based on their
#  gender and continent.
#  Note: Please follow the same instructions for the gender category as described in
#  question-5
df["CareerSat"].unique()

array(['Very satisfied', 'Slightly satisfied',
       'Neither satisfied nor dissatisfied', 'Very dissatisfied',
       'Slightly dissatisfied'], dtype=object)

In [ ]:
df_sat=df.dropna(subset=["JobSat","CareerSat"])
satisfaction_report=df_sat.groupby(["CleanedGender","Continent"])[["JobSat","CareerSat"]].agg(most_common).reset_index()
print(satisfaction_report)

   CleanedGender      Continent                 JobSat           CareerSat
0            MAN         Africa     Slightly satisfied      Very satisfied
1            MAN           Asia     Slightly satisfied  Slightly satisfied
2            MAN         Europe     Slightly satisfied      Very satisfied
3            MAN  North America         Very satisfied      Very satisfied
4            MAN        Oceania         Very satisfied      Very satisfied
5            MAN          Other     Slightly satisfied      Very satisfied
6            MAN  South America     Slightly satisfied  Slightly satisfied
7         OTHERS           Asia     Slightly satisfied  Slightly satisfied
8         OTHERS         Europe      Very dissatisfied   Very dissatisfied
9         OTHERS  North America     Slightly satisfied      Very satisfied
10        OTHERS        Oceania  Slightly dissatisfied      Very satisfied
11         WOMAN         Africa      Very dissatisfied      Very satisfied
12         WOMAN           Asia  Slightly dissatisfied  Slightly satisfied
13         WOMAN         Europe     Slightly satisfied      Very satisfied
14         WOMAN  North America         Very satisfied      Very satisfied
15         WOMAN        Oceania     Slightly satisfied  Slightly satisfied
16         WOMAN          Other         Very satisfied      Very satisfied
17         WOMAN  South America         Very satisfied  Slightly satisfied

In [ ]:
def most_common(x):
    return x.value_counts().idxmax()